<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @which %> &mdash; cloudexchange.org</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/text.css" />
  <link rel="stylesheet" href="/css/960.css" />
  <style>
    a { text-decoration: none; }
    a:hover { text-decoration: underline; }
    h1 { font-size: 350%; }
    h2 { font-size: 220%; }
    h3 { font-size: 110%; }
    .navigation { margin-top: 2em; }
    .footer { margin-top: 4em; font-size: 70%; text-align: right; }
    .invisible { display: none; }
  </style>
</head>

<body>  
  <div class="container_12">

  	<div class="grid_12">
      <h1>cloud exchange</h1>     
      
      <!--# block name="empty" --><!--# endblock -->
      <h2><%= @which %> &mdash; $<!--# include file="data/<%= @which %>.txt" stub="empty" --></h2>
  	</div>

  	<div class="clear"></div>

  	<div class="grid_8">
      <script type="text/javascript" src="/amstock/swfobject.js"></script>
      <div id="flashcontent">
        <strong>You need to upgrade your Flash Player</strong>
      </div>

    	<script type="text/javascript">
    		var so = new SWFObject("/amstock/amstock.swf", "amstock", "620", "400", "8", "#FFFFFF");
    		so.addVariable("path", "/data/");
    		so.addVariable("settings_file", encodeURIComponent("/amstock/settings.xml"));
    		so.addVariable("preloader_color", "#999999");
    		so.addVariable("additional_chart_settings", "<settings><data_sets><data_set did='0'><file_name><%= @which %>.csv</file_name></data_set></data_sets></settings>");
    		so.write("flashcontent");
    	</script>
    	
    	<p>
  	    <a href="/data/<%= @which %>.csv">download data</a>
  	  </p>
  	</div>
 
    <% @regions.each do |region| %>
   	  <div class="grid_1 navigation">
      <p><%= region %></p>
      <% @systems.each do |system| %>
        <p>
        <% @instances.each do |instance| %>
          <% which = "#{region}.#{system}.#{instance}" %>
          <a href="/charts/<%= which %>.html"><%= instance %></a><br>
        <% end %>
        </p>
      <% end %>
      </div>
    <% end %>

 	  <div class="grid_1 navigation">
      <p>&nbsp;</p>
      <p>linux<br><br><br><br><br><br><br></p>
      <p>windows</p>
    </div>
    
    <div class="clear"></div>
 
  	<div class="grid_8 footer">
      visualization: <a href="http://www.timlossen.com">tim lossen</a>
      &mdash; 
      data: <a href="http://aws.amazon.com/">amazon web services</a> 
      <br>
  	  <i><sup>*</sup> times shown are <a href="http://en.wikipedia.org/wiki/UTC">UTC</a> (= london)</i>
  	</div>

  </div>
  
  <div class="invisible">
	  <a href="/favicon.ico">.</a>
	  <a href="/amstock/amstock.swf">.</a>
	  <a href="/amstock/settings.xml">.</a>
	</div>
	
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-2260866-6");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>

</body>

</html>
